@import 'tailwindcss';
@import 'tw-animate-css';
@import './theme.css';

@plugin "@tailwindcss/typography";

@layer utilities {
  @theme {
    --font-hanna-pro: 'BM HANNA Pro';
    --font-hanna-air: 'BM HANNA AIR';
  }

  @font-face {
    font-family: 'Pretendard';
    src:
      local('Pretendard Variable'),
      url('@/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'BM HANNA Pro';
    src:
      local('BM HANNA Pro'),
      local('BMHANNAPro'),
      url('@/assets/fonts/BMHANNAPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'BM HANNA AIR';
    src:
      local('BM HANNA AIR'),
      local('BMHANNAAIR'),
      url('@/assets/fonts/BMHANNAAIR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    font-family:
      'Pretendard',
      -apple-system,
      sans-serif;

    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
